body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.app-title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.app-title .logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.app-title h1 {
    color: #4CAF50;
    font-size: 2.5em;
    text-align: center;
}

.chats-container {
    background-color: white;
    padding: 100px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

h2 {
    color: #4CAF50;
}
/*jr*/
.chat-container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.chat-header {
    text-align: center;
    margin-bottom: 20px;
}

.chat-messages {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #e6e6e6;
    margin-bottom: 20px;
    border-radius: 5px;
}

.chat-message {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
    gap: 10px;
}

.chat-input input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.chat-input button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.chat-input button:hover {
    background-color: #45a049;
}