body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.recursos-container {
    background-color: white;
    padding: 100px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 98%;
    text-align: center;
}

h2 {
    color: #4CAF50;
}

.divisor {
    border-bottom: 1px solid #ddd;
    margin: 40px 0; /* Aumenta el margen superior e inferior */
    padding: 0; /* Elimina el padding */
}

.parrafoT {
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
    color: #333; /* Cambia el color del texto */
    font-style: italic; /* Aplica estilo cursiva */
    margin-bottom: 20px; /* Añade un margen inferior */
    text-align: center; /* Centra el texto */
}

.recursosT {
    font-size: 3em; /* Aumenta el tamaño de la fuente */
    color: #4CAF50; /* Cambia el color del texto */
    margin-bottom: 20px; /* Añade un margen inferior */
    text-align: center; /* Centra el título */
}

.referenciaSoporte {
    color: #4CAF50; /* Cambia el color del texto */
    text-decoration: none; /* Elimina la subrayado por defecto */
}

.referenciaSoporte:hover {
    color: #377c39; /* Cambia el color del texto al pasar el cursor */
    text-decoration: underline; /* Subraya el texto al pasar el cursor */
}

.titulo-destacados {
    font-size: 1.5em; /* Aumenta el tamaño de la fuente */
    color: #4CAF50; /* Cambia el color del texto */
    font-weight: bold; /* Hace el texto más grueso */
    text-align: center; /* Centra el texto */
    margin-bottom: 20px; /* Añade un margen inferior */
}

.tabla-destacados {
    width: 100%; /* Ajusta el ancho de la tabla */
    border-collapse: collapse; /* Elimina los espacios entre celdas */
    margin: 0 auto; /* Centra la tabla horizontalmente */
    background-color: #016d19; /* Cambia el color de fondo de la tabla */
    color: #fff; /* Cambia el color del texto */
}

.tabla-destacados td {
    padding: 10px; /* Añade padding a las celdas */
    border: 9px solid white; /* Añade un borde a las celdas */
    text-align: center; /* Alinea el texto al centro */
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
}

.tabla-destacados iframe {
    width: 100%; /* Ajusta el ancho del iframe */
    height: 500px; /* Ajusta la altura del iframe */
}

.tabla-destacados p {
    margin-top: 10px; /* Añade un margen superior */
    font-weight: bold; /* Hace el texto más grueso */
    color: #fff; /* Cambia el color del texto */
}