.navbarPaw {
    display: flex;
    align-items: center;
    background-color: #016d19;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logoPaw {
    height: 40px;
    margin-right: 10px;
    padding-left: 20px; /* para que no se pegue al borde izquierdo */
}

.navbarPaw h1 {
    color: white;
    margin-right: auto;
}

.navbarPaw nav {
    flex-grow: 1;
}

.navbarPaw nav ul {
    list-style-type: none;
    margin: 0;
    padding-right: 30px; /* para que no se pegue al borde derecho */
    display: flex;
    justify-content: flex-end;
}

.navbarPaw nav ul li {
    margin-left: 20px;
}

.navbarPaw nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s, border-bottom 0.3s;
}

.navbarPaw nav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.navbarPaw nav ul li a.active {
    border-bottom: 2px solid white;
}

.menu-link.active {
    border-bottom: 2px solid white;
}

/* Footer Styles */
.footer {
    background-color: #016d19; /* Color de fondo similar al navbar */
    color: white;
    text-align: center;
    padding: 20px 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Sombra para un efecto más elegante */
}

.footer p {
    color: #ffffff;
    text-decoration: none;
    margin: 5px 0; /* Espaciado vertical */
    transition: color 0.3s;
}

.footer p:hover {
    color: #c0c0c0; /* Color más claro al pasar el mouse */
} 


/* Estilos para las opciones de sesión */
.session-box {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.session-info {

    gap: 10px;
}

.login-btn, .logout-btn {
    background-color: #53c970;
    color: #016d19;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 20px;
    margin-left: 10px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
    border: 2px solid #016d19;

    /* Restablecer estilos predeterminados */
    outline: none; /* Elimina el contorno predeterminado */
    box-shadow: none; /* Elimina sombras predeterminadas */
    appearance: none; /* Elimina estilos específicos del navegador */
    background-clip: padding-box; /* Asegura que el fondo no se desborde */
}

.login-btn:hover, .logout-btn:hover {
    background-color: #016d19;
    color: #ffffff;
    text-decoration: none; /* Asegura que no aparezca subrayado */
    outline: none; /* Elimina el contorno predeterminado */
    box-shadow: none; /* Elimina sombras predeterminadas */
    appearance: none; /* Elimina estilos específicos del navegador */
}

.session-info span {
    color: white;
    font-size: 16px;
    font-weight: bold;
}